streamlit~=1.17.0
openai~=0.26.3
pandas~=1.5.3
nltk~=3.8.1
GoogleNews~=1.6.6
spacy~=3.5.0
newspaper3k
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl